/*头部开始*/
.header {
  background: #2868b3;
  position: relative;
  height: .5rem;
  width: 100%;
}
.header p {
  text-align: center;
  font-size: .18rem;
  color: #fff;
  line-height: .5rem;
}
.header img {
  width: .2rem;
  position: absolute;
  right: .15rem;
  top: .15rem;
}
/*搜索框开始*/
.house-search {
  padding: .1rem;
  border-bottom: none;
  position: relative;
}
.house-search input {
  display: inline-block;
  width: 3.55rem;
  height: .3rem;
  font-size: .1rem;
  border: none;
  text-indent: .1rem;
  background-color: #f2f2f2;
}
.house-search img {
  position: absolute;
  width: .25rem;
  top: .13rem;
  right: .15rem;
  cursor: pointer;
}
/*tab切换开始*/
.house-tab {
  width: 100%;
  height: .36rem;
  color: #363636;
  font-size: .14rem;
  line-height: .44rem;
  border-top: none;
  text-align: center;
}
.house-tab1 {
  display: inline-block;
  width: 32.5%;
  height: .2rem;
  line-height: .2rem;
}
.small-k {
  width: 40%;
  margin: 0 auto;
  padding-bottom: .04rem;
  text-align: center;
  box-sizing: border-box;
}
.small-k-active {
  border-bottom: 0.001rem solid #4072b7;
}
.house-titt {
  line-height: .3rem;
  height: .3rem;
  font-size: .14rem;
  color: #989898;
  margin-left: .2rem;
  border-bottom: 1px solid #f2f2f2;
}
.house-see {
  position: relative;
  width: 94%;
  margin-left: .2rem;
  margin-top: .15rem;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;
}
.house-see p {
  font-size: .15rem;
}
.small-size {
  width: 92%;
  margin-top: 0.05rem;
  padding-bottom: .1rem;
}
.small-size dd {
  font-size: .11rem;
  display: inline-block;
  padding-right: .1rem;
}
.small-size dd:last-child {
  width: 50%;
}
.house-see img {
  position: absolute;
  right: .02rem;
  top: .1rem;
}
.house-tt3 img {
  vertical-align: top;
  width: 1.0rem;
  height: 1.0rem;
}
.house-tt3 li {
  margin: .1rem 0;
  padding: .1rem;
  display: flex;
}
.tittle-wrap p {
  box-sizing: border-box;
  padding-left: .2rem;
  margin-bottom: .05rem;
  font-size: .15rem;
}
.tittle2,
.tittle3,
.tittle4 {
  color: #898989;
}
.tittle3 span,
.tittle4 span {
  font-size: .14rem;
}
.tittle2 span {
  font-size: .13rem;
  display: inline-block;
  width: .7rem;
}
.tittle2 span:last-child {
  width: auto;
  font-size: -0.11rem;
}
img.add-cc {
  position: fixed;
  right: .2rem;
  bottom: .2rem;
  width: .7rem;
  height: auto;
  z-index: 5;
}
.house-tt {
  position: relative;
  margin-bottom: 50px;
}
.house-tt2 {
  border-top: none;
}
