.content_form {
  padding-bottom: 50px;
}
.content_form .common_input[type=text],
.content_form .common_input[type=password] {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #dedede;
  text-indent: 30px;
  background-image: url(../img/account.png);
  background-repeat: no-repeat;
  background-size: 15px auto;
  background-position: 6px 7px;
}
.content_form .code[type=text] {
  width: 45%;
  background-image: url(../img/login.png);
  background-size: 19px auto;
}
.content_form img {
  width: 25%;
  position: relative;
  top: 11px;
  left: 8%;
}
.content_form .password[type=password] {
  width: 45%;
  background-image: url(../img/password.png);
  background-size: 19px auto;
}
.content_form .obtain {
  margin-left: 3%;
  width: 30%;
  background-color: #f38917;
}
.content_form .query {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  background-color: #2868b3;
}
.content_form .delete {
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
  background: none;
  color: #898989;
}
