.content_form {
  padding-bottom: 50px;
}
.content_form .item {
  float: left;
  width: 95%;
  height: 40px;
  margin-left: 5%;
  line-height: 40px;
  border-bottom: 1px solid #dedede;
}
.content_form .item .red {
  color: #f35050;
}
.content_form .common_input[type=text],
.content_form .common_input[type=password] {
  width: 70%;
  margin-left: 4%;
  border: none;
  border-radius: 0px;
}
.content_form select {
  width: 65%;
  border: none;
  background-color: #fff;
}
.content_form .appnone {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.content_form .item_select {
  position: relative;
}
.content_form .item_select .content {
  margin-left: 4%;
  display: inline-block;
  width: 65%;
}
.content_form .item_select img {
  position: absolute;
  width: 20px;
  top: 10px;
  right: 15px;
}
.content_form .item_select .select {
  display: none;
  background-color: #eee;
  width: 70%;
  position: absolute;
  top: 40px;
  left: 26%;
}
.content_form .item_select .select li {
  border-top: 1px solid #ccc;
  text-indent: 10px;
}
.content_form .item_code {
  width: 58%;
}
.content_form .item_code .common_input[type=text] {
  width: 54%;
  margin-left: 6%;
}
.content_form .code {
  width: 80px;
  position: relative;
  top: 13px;
  left: 10px;
}
.content_form .obtain {
  float: left;
  background-color: #f38917;
  position: relative;
  top: 9px;
  left: 10px;
}
.content_form .distpicker {
  float: left;
  width: 73%;
  margin-left: 4%;
}
.content_form .distpicker .dist {
  width: 20%;
  margin-left: 0;
}
.content_form .distpicker .dist:last-child {
  width: 30%;
}
.content_form .query {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  background-color: #2868b3;
}
.content_form .alert {
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  border: 2px solid #fac2a7;
  border-radius: 5px;
  background-color: #fbded0;
  padding: 10px 5%;
  box-sizing: border-box;
}
.content_form .alert p {
  font-size: 12px;
}
