.headline {
  height: 35px;
  color: #898989;
  line-height: 35px;
  text-indent: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.info h5,
.kind h5 {
  color: #000;
  font-size: 16px;
  text-indent: 5%;
  font-weight: 500;
  margin-bottom: 12px;
}
.info h5 span,
.kind h5 span {
  color: #f35050;
}
.m2 {
  margin-left: 2px;
}
.m5 {
  margin-right: 5%;
}
.kind .mui-input-row {
  width: 46%;
  float: right;
}
.kind .mui-radio.mui-left label {
  color: #898989;
}
.kind .mui-radio input[type=radio]:checked:before {
  color: #f36517;
}
.kind .mui-radio input[type=radio]:before {
  font-size: 24px;
}
.info {
  margin-top: 10px;
}
.info .common_input {
  margin-bottom: 15px;
}
.info .ipt_div {
  float: left;
  width: 26%;
  height: 28px;
  margin-left: 5%;
  margin-bottom: 12px;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  color: #898989;
}
.info .ipt_div input[type=text] {
  width: 70%;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  text-indent: 2px;
  text-align: right;
}
.info .ipt_div .double[type=text] {
  width: 40%;
}
.info select {
  padding: 0 15px;
  color: #898989;
  width: 41%;
  height: 29px;
  margin-left: 5%;
  margin-bottom: 15px;
}
.info .ipt_div2 {
  width: 41%;
}
.info .ipt_div2 .double[type=text] {
  width: 66%;
}
.info .ipt_div3 {
  width: 41%;
}
.info p {
  margin-left: 5%;
  color: #000;
  font-size: 12px;
}
.info i {
  display: inline-block;
  width: 20%;
  margin-left: 2%;
  font-style: normal;
}
.info i.first {
  margin-left: 5%;
}
.info i.last {
  width: 30%;
}
.info input[type="checkbox"] {
  margin-left: 5%;
  margin-right: 2%;
}
.info span {
  color: #898989;
}
.info .phone {
  width: 41%;
  height: 25px;
  padding: 0;
  margin: 0 0 12px 5%;
  text-indent: 2px;
  text-align: right;
}
.publish {
  display: block;
  width: 70%;
  margin: 30px 0 50px 15%;
  background-color: #2868b3;
}
.webuploader-pick {
  padding: 5px 27%;
  margin-left: 14%;
  background-color: #2868b3;
}
.webuploader-container {
  margin-bottom: 20px;
}
.file-item {
  margin-left: 5%;
  width: 27.8%;
  display: inline-block;
}
