.item .title {
  height: 35px;
  line-height: 35px;
  text-indent: 5%;
  color: #898989;
  border-bottom: 1px solid #dedede;
}
.item2 {
  margin-top: 10px;
}
.webuploader-pick {
  padding: 0;
  margin-left: 5%;
  background-color: #f2f2f2;
  width: 80px;
  height: 80px;
  line-height: 70px;
  color: #898989;
  font-size: 80px;
}
.webuploader-container {
  margin-bottom: 20px;
  margin-top: 10px;
}
.file-item {
  margin-left: 5%;
  width: 27.8%;
  display: inline-block;
}
#list1,
#list2,
#list3 {
  margin-top: 10px;
}
.tijiao {
  display: block;
  background-color: #2868b3;
  width: 70%;
  margin: 30px 15% 20px 15%;
}
