*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
img{
	height: auto;
}
body{
	background-color: #F2F2F2;
}
.bgf{
	background-color: #fff;
}
.clear{
	clear: both;
}